streamlit
yfinance 
pandas
numpy 
matplotlib
datetime
plotly
plotly==5.14.1
requests
beautifulsoup4
yahoofinancials
pytz
openpyxl
scikit-learn
telethon
cryptg
nest-asyncio
streamlit_telegram_login
streamlit-telegram-login==0.0.3
